<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cummins.bims.dao.AdviceMapper">
  <resultMap id="BaseResultMap" type="com.cummins.bims.dto.Advice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="issue_id" jdbcType="INTEGER" property="issueId" />
    <result column="handler_dept_id" jdbcType="INTEGER" property="handlerDeptId" />
    <result column="handler_dept_name" jdbcType="VARCHAR" property="handlerDeptName" />
    <result column="handler_person_id" jdbcType="INTEGER" property="handlerPersonId" />
    <result column="handler_person_account" jdbcType="VARCHAR" property="handlerPersonAccount" />
    <result column="handler_person_name" jdbcType="VARCHAR" property="handlerPersonName" />
    <result column="issue_category_l1" jdbcType="INTEGER" property="issueCategoryL1" />
    <result column="issue_category_l1_name" jdbcType="VARCHAR" property="issueCategoryL1Name" />
    <result column="issue_category_l2" jdbcType="INTEGER" property="issueCategoryL2" />
    <result column="issue_category_l2_name" jdbcType="VARCHAR" property="issueCategoryL2Name" />
    <result column="issue_category_l3" jdbcType="VARCHAR" property="issueCategoryL3" />
    <result column="handler_date" jdbcType="TIMESTAMP" property="handlerDate" />
    <result column="resolution" jdbcType="VARCHAR" property="resolution" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, issue_id, handler_dept_id, handler_dept_name, handler_person_id, handler_person_account, 
    handler_person_name, issue_category_l1, issue_category_l1_name, issue_category_l2, 
    issue_category_l2_name, issue_category_l3, handler_date, resolution
  </sql>
  <select id="selectByExample" parameterType="com.cummins.bims.dto.AdviceCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from issue_advice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from issue_advice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from issue_advice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cummins.bims.dto.AdviceCriteria">
    delete from issue_advice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cummins.bims.dto.Advice">
    insert into issue_advice (id, issue_id, handler_dept_id, 
      handler_dept_name, handler_person_id, handler_person_account, 
      handler_person_name, issue_category_l1, issue_category_l1_name, 
      issue_category_l2, issue_category_l2_name, issue_category_l3, 
      handler_date, resolution)
    values (#{id,jdbcType=INTEGER}, #{issueId,jdbcType=INTEGER}, #{handlerDeptId,jdbcType=INTEGER}, 
      #{handlerDeptName,jdbcType=VARCHAR}, #{handlerPersonId,jdbcType=INTEGER}, #{handlerPersonAccount,jdbcType=VARCHAR}, 
      #{handlerPersonName,jdbcType=VARCHAR}, #{issueCategoryL1,jdbcType=INTEGER}, #{issueCategoryL1Name,jdbcType=VARCHAR}, 
      #{issueCategoryL2,jdbcType=INTEGER}, #{issueCategoryL2Name,jdbcType=VARCHAR}, #{issueCategoryL3,jdbcType=VARCHAR}, 
      #{handlerDate,jdbcType=TIMESTAMP}, #{resolution,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cummins.bims.dto.Advice">
    insert into issue_advice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="issueId != null">
        issue_id,
      </if>
      <if test="handlerDeptId != null">
        handler_dept_id,
      </if>
      <if test="handlerDeptName != null">
        handler_dept_name,
      </if>
      <if test="handlerPersonId != null">
        handler_person_id,
      </if>
      <if test="handlerPersonAccount != null">
        handler_person_account,
      </if>
      <if test="handlerPersonName != null">
        handler_person_name,
      </if>
      <if test="issueCategoryL1 != null">
        issue_category_l1,
      </if>
      <if test="issueCategoryL1Name != null">
        issue_category_l1_name,
      </if>
      <if test="issueCategoryL2 != null">
        issue_category_l2,
      </if>
      <if test="issueCategoryL2Name != null">
        issue_category_l2_name,
      </if>
      <if test="issueCategoryL3 != null">
        issue_category_l3,
      </if>
      <if test="handlerDate != null">
        handler_date,
      </if>
      <if test="resolution != null">
        resolution,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="issueId != null">
        #{issueId,jdbcType=INTEGER},
      </if>
      <if test="handlerDeptId != null">
        #{handlerDeptId,jdbcType=INTEGER},
      </if>
      <if test="handlerDeptName != null">
        #{handlerDeptName,jdbcType=VARCHAR},
      </if>
      <if test="handlerPersonId != null">
        #{handlerPersonId,jdbcType=INTEGER},
      </if>
      <if test="handlerPersonAccount != null">
        #{handlerPersonAccount,jdbcType=VARCHAR},
      </if>
      <if test="handlerPersonName != null">
        #{handlerPersonName,jdbcType=VARCHAR},
      </if>
      <if test="issueCategoryL1 != null">
        #{issueCategoryL1,jdbcType=INTEGER},
      </if>
      <if test="issueCategoryL1Name != null">
        #{issueCategoryL1Name,jdbcType=VARCHAR},
      </if>
      <if test="issueCategoryL2 != null">
        #{issueCategoryL2,jdbcType=INTEGER},
      </if>
      <if test="issueCategoryL2Name != null">
        #{issueCategoryL2Name,jdbcType=VARCHAR},
      </if>
      <if test="issueCategoryL3 != null">
        #{issueCategoryL3,jdbcType=VARCHAR},
      </if>
      <if test="handlerDate != null">
        #{handlerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="resolution != null">
        #{resolution,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cummins.bims.dto.AdviceCriteria" resultType="java.lang.Long">
    select count(*) from issue_advice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update issue_advice
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.issueId != null">
        issue_id = #{record.issueId,jdbcType=INTEGER},
      </if>
      <if test="record.handlerDeptId != null">
        handler_dept_id = #{record.handlerDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.handlerDeptName != null">
        handler_dept_name = #{record.handlerDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.handlerPersonId != null">
        handler_person_id = #{record.handlerPersonId,jdbcType=INTEGER},
      </if>
      <if test="record.handlerPersonAccount != null">
        handler_person_account = #{record.handlerPersonAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.handlerPersonName != null">
        handler_person_name = #{record.handlerPersonName,jdbcType=VARCHAR},
      </if>
      <if test="record.issueCategoryL1 != null">
        issue_category_l1 = #{record.issueCategoryL1,jdbcType=INTEGER},
      </if>
      <if test="record.issueCategoryL1Name != null">
        issue_category_l1_name = #{record.issueCategoryL1Name,jdbcType=VARCHAR},
      </if>
      <if test="record.issueCategoryL2 != null">
        issue_category_l2 = #{record.issueCategoryL2,jdbcType=INTEGER},
      </if>
      <if test="record.issueCategoryL2Name != null">
        issue_category_l2_name = #{record.issueCategoryL2Name,jdbcType=VARCHAR},
      </if>
      <if test="record.issueCategoryL3 != null">
        issue_category_l3 = #{record.issueCategoryL3,jdbcType=VARCHAR},
      </if>
      <if test="record.handlerDate != null">
        handler_date = #{record.handlerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resolution != null">
        resolution = #{record.resolution,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update issue_advice
    set id = #{record.id,jdbcType=INTEGER},
      issue_id = #{record.issueId,jdbcType=INTEGER},
      handler_dept_id = #{record.handlerDeptId,jdbcType=INTEGER},
      handler_dept_name = #{record.handlerDeptName,jdbcType=VARCHAR},
      handler_person_id = #{record.handlerPersonId,jdbcType=INTEGER},
      handler_person_account = #{record.handlerPersonAccount,jdbcType=VARCHAR},
      handler_person_name = #{record.handlerPersonName,jdbcType=VARCHAR},
      issue_category_l1 = #{record.issueCategoryL1,jdbcType=INTEGER},
      issue_category_l1_name = #{record.issueCategoryL1Name,jdbcType=VARCHAR},
      issue_category_l2 = #{record.issueCategoryL2,jdbcType=INTEGER},
      issue_category_l2_name = #{record.issueCategoryL2Name,jdbcType=VARCHAR},
      issue_category_l3 = #{record.issueCategoryL3,jdbcType=VARCHAR},
      handler_date = #{record.handlerDate,jdbcType=TIMESTAMP},
      resolution = #{record.resolution,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cummins.bims.dto.Advice">
    update issue_advice
    <set>
      <if test="issueId != null">
        issue_id = #{issueId,jdbcType=INTEGER},
      </if>
      <if test="handlerDeptId != null">
        handler_dept_id = #{handlerDeptId,jdbcType=INTEGER},
      </if>
      <if test="handlerDeptName != null">
        handler_dept_name = #{handlerDeptName,jdbcType=VARCHAR},
      </if>
      <if test="handlerPersonId != null">
        handler_person_id = #{handlerPersonId,jdbcType=INTEGER},
      </if>
      <if test="handlerPersonAccount != null">
        handler_person_account = #{handlerPersonAccount,jdbcType=VARCHAR},
      </if>
      <if test="handlerPersonName != null">
        handler_person_name = #{handlerPersonName,jdbcType=VARCHAR},
      </if>
      <if test="issueCategoryL1 != null">
        issue_category_l1 = #{issueCategoryL1,jdbcType=INTEGER},
      </if>
      <if test="issueCategoryL1Name != null">
        issue_category_l1_name = #{issueCategoryL1Name,jdbcType=VARCHAR},
      </if>
      <if test="issueCategoryL2 != null">
        issue_category_l2 = #{issueCategoryL2,jdbcType=INTEGER},
      </if>
      <if test="issueCategoryL2Name != null">
        issue_category_l2_name = #{issueCategoryL2Name,jdbcType=VARCHAR},
      </if>
      <if test="issueCategoryL3 != null">
        issue_category_l3 = #{issueCategoryL3,jdbcType=VARCHAR},
      </if>
      <if test="handlerDate != null">
        handler_date = #{handlerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="resolution != null">
        resolution = #{resolution,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cummins.bims.dto.Advice">
    update issue_advice
    set issue_id = #{issueId,jdbcType=INTEGER},
      handler_dept_id = #{handlerDeptId,jdbcType=INTEGER},
      handler_dept_name = #{handlerDeptName,jdbcType=VARCHAR},
      handler_person_id = #{handlerPersonId,jdbcType=INTEGER},
      handler_person_account = #{handlerPersonAccount,jdbcType=VARCHAR},
      handler_person_name = #{handlerPersonName,jdbcType=VARCHAR},
      issue_category_l1 = #{issueCategoryL1,jdbcType=INTEGER},
      issue_category_l1_name = #{issueCategoryL1Name,jdbcType=VARCHAR},
      issue_category_l2 = #{issueCategoryL2,jdbcType=INTEGER},
      issue_category_l2_name = #{issueCategoryL2Name,jdbcType=VARCHAR},
      issue_category_l3 = #{issueCategoryL3,jdbcType=VARCHAR},
      handler_date = #{handlerDate,jdbcType=TIMESTAMP},
      resolution = #{resolution,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>