<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cummins.bims.dao.PrintRepairTagMapper">
  <resultMap id="BaseResultMap" type="com.cummins.bims.dto.PrintRepairTag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="issue_no" jdbcType="VARCHAR" property="issueNo" />
    <result column="issue_desc" jdbcType="VARCHAR" property="issueDesc" />
    <result column="esn" jdbcType="VARCHAR" property="esn" />
    <result column="so" jdbcType="VARCHAR" property="so" />
    <result column="tc" jdbcType="VARCHAR" property="tc" />
    <result column="pallet" jdbcType="VARCHAR" property="pallet" />
    <result column="repair_action" jdbcType="VARCHAR" property="repairAction" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="repair_date" jdbcType="TIMESTAMP" property="repairDate" />
    <result column="me_quality" jdbcType="VARCHAR" property="meQuality" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, issue_no, issue_desc, esn, so, tc, pallet, repair_action, operator, repair_date, 
    me_quality, ip, status
  </sql>
  <select id="selectByExample" parameterType="com.cummins.bims.dto.PrintRepairTagCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tag_print_repair
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tag_print_repair
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag_print_repair
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cummins.bims.dto.PrintRepairTagCriteria">
    delete from tag_print_repair
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cummins.bims.dto.PrintRepairTag">
    insert into tag_print_repair (id, issue_no, issue_desc, 
      esn, so, tc, pallet, 
      repair_action, operator, repair_date, 
      me_quality, ip, status
      )
    values (#{id,jdbcType=INTEGER}, #{issueNo,jdbcType=VARCHAR}, #{issueDesc,jdbcType=VARCHAR}, 
      #{esn,jdbcType=VARCHAR}, #{so,jdbcType=VARCHAR}, #{tc,jdbcType=VARCHAR}, #{pallet,jdbcType=VARCHAR}, 
      #{repairAction,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{repairDate,jdbcType=TIMESTAMP}, 
      #{meQuality,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cummins.bims.dto.PrintRepairTag">
    insert into tag_print_repair
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="issueNo != null">
        issue_no,
      </if>
      <if test="issueDesc != null">
        issue_desc,
      </if>
      <if test="esn != null">
        esn,
      </if>
      <if test="so != null">
        so,
      </if>
      <if test="tc != null">
        tc,
      </if>
      <if test="pallet != null">
        pallet,
      </if>
      <if test="repairAction != null">
        repair_action,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="repairDate != null">
        repair_date,
      </if>
      <if test="meQuality != null">
        me_quality,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="issueNo != null">
        #{issueNo,jdbcType=VARCHAR},
      </if>
      <if test="issueDesc != null">
        #{issueDesc,jdbcType=VARCHAR},
      </if>
      <if test="esn != null">
        #{esn,jdbcType=VARCHAR},
      </if>
      <if test="so != null">
        #{so,jdbcType=VARCHAR},
      </if>
      <if test="tc != null">
        #{tc,jdbcType=VARCHAR},
      </if>
      <if test="pallet != null">
        #{pallet,jdbcType=VARCHAR},
      </if>
      <if test="repairAction != null">
        #{repairAction,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="repairDate != null">
        #{repairDate,jdbcType=TIMESTAMP},
      </if>
      <if test="meQuality != null">
        #{meQuality,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cummins.bims.dto.PrintRepairTagCriteria" resultType="java.lang.Long">
    select count(*) from tag_print_repair
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tag_print_repair
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.issueNo != null">
        issue_no = #{record.issueNo,jdbcType=VARCHAR},
      </if>
      <if test="record.issueDesc != null">
        issue_desc = #{record.issueDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.esn != null">
        esn = #{record.esn,jdbcType=VARCHAR},
      </if>
      <if test="record.so != null">
        so = #{record.so,jdbcType=VARCHAR},
      </if>
      <if test="record.tc != null">
        tc = #{record.tc,jdbcType=VARCHAR},
      </if>
      <if test="record.pallet != null">
        pallet = #{record.pallet,jdbcType=VARCHAR},
      </if>
      <if test="record.repairAction != null">
        repair_action = #{record.repairAction,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.repairDate != null">
        repair_date = #{record.repairDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.meQuality != null">
        me_quality = #{record.meQuality,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tag_print_repair
    set id = #{record.id,jdbcType=INTEGER},
      issue_no = #{record.issueNo,jdbcType=VARCHAR},
      issue_desc = #{record.issueDesc,jdbcType=VARCHAR},
      esn = #{record.esn,jdbcType=VARCHAR},
      so = #{record.so,jdbcType=VARCHAR},
      tc = #{record.tc,jdbcType=VARCHAR},
      pallet = #{record.pallet,jdbcType=VARCHAR},
      repair_action = #{record.repairAction,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      repair_date = #{record.repairDate,jdbcType=TIMESTAMP},
      me_quality = #{record.meQuality,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cummins.bims.dto.PrintRepairTag">
    update tag_print_repair
    <set>
      <if test="issueNo != null">
        issue_no = #{issueNo,jdbcType=VARCHAR},
      </if>
      <if test="issueDesc != null">
        issue_desc = #{issueDesc,jdbcType=VARCHAR},
      </if>
      <if test="esn != null">
        esn = #{esn,jdbcType=VARCHAR},
      </if>
      <if test="so != null">
        so = #{so,jdbcType=VARCHAR},
      </if>
      <if test="tc != null">
        tc = #{tc,jdbcType=VARCHAR},
      </if>
      <if test="pallet != null">
        pallet = #{pallet,jdbcType=VARCHAR},
      </if>
      <if test="repairAction != null">
        repair_action = #{repairAction,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="repairDate != null">
        repair_date = #{repairDate,jdbcType=TIMESTAMP},
      </if>
      <if test="meQuality != null">
        me_quality = #{meQuality,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cummins.bims.dto.PrintRepairTag">
    update tag_print_repair
    set issue_no = #{issueNo,jdbcType=VARCHAR},
      issue_desc = #{issueDesc,jdbcType=VARCHAR},
      esn = #{esn,jdbcType=VARCHAR},
      so = #{so,jdbcType=VARCHAR},
      tc = #{tc,jdbcType=VARCHAR},
      pallet = #{pallet,jdbcType=VARCHAR},
      repair_action = #{repairAction,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      repair_date = #{repairDate,jdbcType=TIMESTAMP},
      me_quality = #{meQuality,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>